<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>

<script>
  var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>

<div class="product-view">
  <div class="product-essential">

    <h1 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>

    <div class="row-product-info js-overlay-container overlay-container">
      <div class="product-shop popup">

        <form action="<?php echo $this->getSubmitUrl($_product) ?>"
              method="post"
              id="product_addtocart_form"
              <?php if ($_product->getOptions()): ?>enctype="multipart/form-data"<?php endif; ?>
          >

          <?php echo $this->getBlockHtml('formkey') ?>

          <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
          <input type="hidden" name="related_product" id="related-products-field" value=""/>

          <?php echo $this->getChildHtml('product_type_data') ?>

          <?php if ($_product->isSaleable() && !$this->hasOptions()): ?>

            <?php echo $this->getChildHtml('addtocart') ?>

          <?php elseif ($_product->isSaleable() && $this->hasOptions()): ?>

            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php echo $this->getChildChildHtml('container2', '', true, true) ?>

          <?php endif; ?>
        </form>
      </div>
    </div>

  </div>
</div>

<script>
  var productAddToCartForm = new VarienForm('product_addtocart_form');
  productAddToCartForm.submit = function (button, url) {
    if (this.validator.validate()) {
      var form = this.form;
      var oldUrl = form.action;

      if (url) {
        form.action = url;
      }
      var e = null;
      try {
        this.form.submit();
      } catch (e) {
      }
      this.form.action = oldUrl;
      if (e) {
        throw e;
      }

      if (button && button != 'undefined') {
        button.disabled = true;
      }
    }
  }.bind(productAddToCartForm);

  productAddToCartForm.submitLight = function (button, url) {
    if (this.validator) {
      var nv = Validation.methods;
      delete Validation.methods['required-entry'];
      delete Validation.methods['validate-one-required'];
      delete Validation.methods['validate-one-required-by-name'];
      // Remove custom datetime validators
      for (var methodName in Validation.methods) {
        if (methodName.match(/^validate-datetime-.*/i)) {
          delete Validation.methods[methodName];
        }
      }

      if (this.validator.validate()) {
        if (url) {
          this.form.action = url;
        }
        this.form.submit();
      }
      Object.extend(Validation.methods, nv);
    }
  }.bind(productAddToCartForm);
</script>
