.mini-cart-container {
  position : relative;
  display  : inline-block;
}

.cart-count:not(:empty)::before {
  content : "( ";
}

.cart-count:not(:empty)::after {
  content : " )";
}

.panel-cart {
  display   : none;
  position  : absolute;
  top       : 16px;
  right     : 0;
  z-index   : 10;
  min-width : 220px;
}

.panel-cart.is-visible {
  display : block;
}

