<?php
/**
 * Shoping cart sidebar
 *
 * @see Mage_Checkout_Block_Cart_Sidebar
 */
?>

<li class="mini-cart-container js-mini-cart-container">

  <a class="my-cart" href="<?php echo $this->getUrl('checkout/cart'); ?>">
    <span class="cart-label"><?php echo $this->__('My Cart') ?></span>
    <span class="cart-count js-cart-count"><?php echo $this->getSummaryCount() ?: 0 ?></span>
  </a>

  <div class="panel panel-default panel-cart js-minicart">
    <?php echo $this->getChildHtml('minicart_content'); ?>
  </div>

</li>
