<?php $_item = $this->getItem(); ?>

<tr>
  <td class="name">
    <?php if ($this->hasProductUrl()): ?>

      <a href="<?php echo $this->getProductUrl() ?>"><?php echo $this->escapeHtml($this->getProductName()) ?></a>

    <?php else: ?>

      <?php echo $this->escapeHtml($this->getProductName()) ?>

    <?php endif; ?>

    &times; <?php echo $this->getQty() ?>
  </td>

  <td class="price operation">
    <?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>

      <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <?php echo $this->__('Excl. Tax'); ?>:
      <?php endif; ?>

      <?php echo $this->helper('checkout')->formatPrice($_item->getCalculationPrice()) ?>

    <?php endif; ?>

    <?php if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()): ?>

      <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <br/><?php echo $this->__('Incl. Tax'); ?>:
      <?php endif; ?>

      <?php echo $this->helper('checkout')->formatPrice($this->helper('checkout')->getPriceInclTax($_item)) ?>

    <?php endif; ?>

    <?php if (!$this->isOnCheckoutPage()) : ?>
      <a href="<?php echo $this->isOnCartPage() ? $this->getDeleteUrl() : $this->getAjaxDeleteUrl() ?>"
         <?php if ($this->isOnCartPage()) : ?>disable-ajax<?php endif ?>
         title="<?php echo $this->__('Remove This Item') ?>"
         data-confirm="<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>"
         class="btn-remove js-btn-remove">
        <?php echo $this->__('Remove Item') ?>
      </a>
    <?php endif ?>
  </td>

</tr>
