<div class="panel-heading">
  <h3 class="panel-title"><?php echo $this->__('Shopping Cart') ?></h3>
</div>

<?php $_cartQty = $this->getSummaryCount() ?>
<?php if ($_cartQty > 0): ?>
  <div class="panel-body">
    <p class="amount">
      <?php echo $this->__('<strong>%s</strong> item%s in your cart.', $_cartQty, $_cartQty > 1 ? 's' : '') ?>
    </p>
  </div>
<?php endif ?>

<?php $_items = $this->getItems(); ?>
<?php if (count($_items)): ?>

  <table class="cart-sidebar mini-products-list table js-ajax-cart-items">
    <tbody>
    <?php foreach ($_items as $_item): ?>
      <?php echo $this->getItemHtml($_item) ?>
    <?php endforeach; ?>
    </tbody>

    <tfoot>
    <tr>
      <td>
        <div><?php echo $this->__('Total Cost') ?></div>
      </td>
      <td>
        <div class="total"><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></div>
      </td>
    </tr>
    </tfoot>
  </table>

<?php else: ?>

  <div class="panel-body js-ajax-cart-items">
    <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
  </div>

<?php endif ?>

<?php if ($_cartQty > 0 && $this->isPossibleOnepageCheckout()): ?>
  <div class="panel-footer clearfix">
    <a title="<?php echo $this->__('Edit cart') ?>"
       href="<?php echo Mage::helper('checkout/url')->getCartUrl() ?>"
       class="link-edit-cart">
      <?php echo $this->__('Edit cart') ?>
    </a>

    <a title="<?php echo $this->__('Checkout') ?>"
       class="btn btn-primary pull-right"
       href="<?php echo $this->getCheckoutUrl() ?>">
      <?php echo $this->__('Checkout') ?>
    </a>
  </div>
<?php endif ?>
