<?php
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2011-2014 Webcomm Pty Ltd
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
?>
<?php $_product = $this->getProduct(); ?>
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
    <div class="add-to-cart">
        <?php if(!$_product->isGrouped()): ?>
            <div class="input-group">
                <span class="input-group-addon">
                    <label for="qty"><?php echo $this->__('Qty:') ?></label>
                </span>
                <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo ($qty = $this->getProductDefaultQty() * 1) ? $qty : 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text form-control qty" />
                <span class="input-group-btn">
                    <button type="button"
                            title="<?php echo $this->__('Add to cart') ?>"
                            class="btn btn-cart js-qty-cart"
                            data-loading-text="Adding..."
                            data-add-to-cart-url="<?php echo $this->getAddToCartUrl(
                              $_product,
                              array('is-ajax-disabled' => $this->getDisableAjax())
                            ) ?>"
                            <?php if ($this->getDisableAjax()): ?>disable-ajax<?php endif ?>
                            <?php if ($_product->canConfigure()): ?>configurable<?php endif ?>
                      >
                        <?php echo $this->__('Add to cart') ?>
                    </button>
                <?php echo $this->getChildHtml('', true, true) ?>
                </span>
            </div>
        <?php else: ?>
            <button type="button"
                    title="<?php echo $this->__('Add to cart') ?>"
                    class="btn btn-cart js-qty-cart"
                    data-loading-text="Adding..."
                    data-add-to-cart-url="<?php echo $this->getAddToCartUrl(
                      $_product,
                      array('is-ajax-disabled' => $this->getDisableAjax())
                    ) ?>"
                    <?php if ($this->getDisableAjax()): ?>disable-ajax<?php endif ?>
                    <?php if ($_product->canConfigure()): ?>configurable<?php endif ?>
              >
                <?php echo $this->__('Add to cart') ?>
            </button>
                <?php echo $this->getChildHtml('', true, true) ?>
        <?php endif; ?>
    </div>
<?php endif; ?>
